# Grouping

In [1]:
from shmandas import *
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2

In [3]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks = from_df(drinks)
head(drinks)

country        beer_servings    spirit_servings    wine_servings    total_litres_of_pure_alcohol  continent
-----------  ---------------  -----------------  ---------------  ------------------------------  -----------
Afghanistan                0                  0                0                             0    AS
Albania                   89                132               54                             4.9  EU
Algeria                   25                  0               14                             0.7  AF
Andorra                  245                138              312                            12.4  EU
Angola                   217                 57               45                             5.9  AF

**Which continent drinks more beer on average?**

In [6]:
y = arrange(
    summarize(
        group_by(drinks, 'continent'),
        continent = sf(first, 'continent'),
        avg_served = sf(np.mean, 'beer_servings')
    ),
    'avg_served',
    False
)
head(y)

continent      avg_served
-----------  ------------
EU               193.778
SA               175.083
nan              145.435
OC                89.6875
AF                61.4717

In [7]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users = from_df(users)
head(users)

  age  gender    occupation      zip_code
-----  --------  ------------  ----------
   24  M         technician         85711
   53  F         other              94043
   23  M         writer             32067
   24  M         technician         43537
   33  F         other              15213

**Discover the Male ratio per occupation and sort it from the most to the least**

In [11]:
y = summarize(
    group_by(users, 'occupation'),
    occupation = sf(first, 'occupation'),
    male_r = lambda g: np.sum(g['gender'] == 'M') / nrows(g)
)
head(arrange(y, 'male_r', False))

occupation      male_r
------------  --------
doctor        1
engineer      0.970149
technician    0.962963
retired       0.928571
programmer    0.909091

**For each combination of occupation and gender, calculate the mean age**

In [16]:
head(
    arrange(
        summarize(
            group_by(users, ['occupation', 'gender']),
            occupation = sf(first, 'occupation'),
            gender = sf(first, 'gender'),
            avg_age = sf(np.mean, 'age')
        ),
        ['occupation', 'gender']
    ), 20
)

occupation     gender      avg_age
-------------  --------  ---------
administrator  F           40.6389
administrator  M           37.1628
artist         F           30.3077
artist         M           32.3333
doctor         M           43.5714
educator       F           39.1154
educator       M           43.1014
engineer       F           29.5
engineer       M           36.6
entertainment  F           31
entertainment  M           29
executive      F           44
executive      M           38.1724
healthcare     F           39.8182
healthcare     M           45.4
homemaker      F           34.1667
homemaker      M           23
lawyer         F           39.5
lawyer         M           36.2
librarian      F           40

**For each occupation present the percentage of women and men**

In [20]:
head(
    summarize(
        group_by(users, ['occupation']),
        occupation = sf(first, 'occupation'),
        male_r = lambda g: np.sum(g['gender'] == 'M') / nrows(g) * 100,
        female_r = lambda g: np.sum(g['gender'] == 'F') / nrows(g) * 100
    )
)

occupation       male_r    female_r
-------------  --------  ----------
technician      96.2963      3.7037
other           65.7143     34.2857
writer          57.7778     42.2222
executive       90.625       9.375
administrator   54.4304     45.5696