In [96]:
from shmandas import *
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [90]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')
chipo = from_df(chipo)

In [26]:
head(chipo)

  order_id    quantity  item_name                              choice_description                                                          item_price
----------  ----------  -------------------------------------  --------------------------------------------------------------------------  ------------
         1           1  Chips and Fresh Tomato Salsa           nan                                                                         $2.39
         1           1  Izze                                   [Clementine]                                                                $3.39
         1           1  Nantucket Nectar                       [Apple]                                                                     $3.39
         1           1  Chips and Tomatillo-Green Chili Salsa  nan                                                                         $2.39
         2           2  Chicken Bowl                           [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]  $16.98

In [27]:
nrows(chipo)

4622

In [28]:
len(chipo)

5

**Which was the most-ordered item?**

In [97]:
# c = chipo.groupby('item_name')
# c = c.sum()
# c = c.sort_values(['quantity'], ascending=False)
# c.head(1)
c = group_by(chipo, 'item_name')
c = ungroup(
    summarize(c, item_name=sf(first, 'item_name'), n=sf(np.sum,'quantity'))
)
c = arrange(c, 'n', False)
head(c)

item_name              n
-------------------  ---
Chicken Bowl         761
Chicken Burrito      591
Chips and Guacamole  506
Steak Burrito        386
Canned Soft Drink    351

**For the most-ordered item, how many items were ordered?**

In [66]:
c['n'][0]

761

**How many items were orderd in total?**

In [67]:
np.sum(chipo['quantity'])

4972

**Turn the item price into a float**

In [71]:
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = np.array([dollarizer(x) for x in chipo['item_price']])
# NOTE: chipo = apply(chipo, {'item_price': dollarizer})
head(chipo)

  order_id    quantity  item_name                              choice_description                                                            item_price
----------  ----------  -------------------------------------  --------------------------------------------------------------------------  ------------
         1           1  Chips and Fresh Tomato Salsa           nan                                                                                 2.39
         1           1  Izze                                   [Clementine]                                                                        3.39
         1           1  Nantucket Nectar                       [Apple]                                                                             3.39
         1           1  Chips and Tomatillo-Green Chili Salsa  nan                                                                                 2.39
         2           2  Chicken Bowl                           [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]         16.98

**How many orders were made in the period?**

In [74]:
len(group_by(chipo, 'order_id'))

1834

**What is the average revenue amount per order?**

In [76]:
# chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# order_grouped = chipo.groupby(by=['order_id']).sum()
# order_grouped.mean()['revenue']

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
c = group_by(chipo, 'order_id')
c = summarize(c, order_rev = sf(np.sum, 'revenue'))
c = ungroup(c)
np.mean(c['order_rev'])

21.39423118865867

**How many different items are sold?**

In [87]:
len(group_by(chipo, 'item_name'))

50

In [88]:
len(np.unique(chipo['item_name']))

50